<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Moja Aplikacja{% endblock %}</title>
    </head>
<body>

    <nav>
        <a href="{{ url_for('main_index') }}">Strona Główna</a>

        {% if is_admin %}
            <a href="{{ url_for('admin.manage_users_page') }}">Panel Admina</a>
            <a href="{{ url_for('admin.admin_register_page') }}">Rejestruj Użytkownika</a>
        {% endif %}

        {% if is_therapist %}
            <a href="{{ url_for('schedule_page') }}">Grafik Terapeuty</a>
            <a href="{{ url_for('clients_page') }}">Klienci</a>
            <a href="{{ url_for('tus_page') }}">TUS</a>
        {% endif %}

        {% if is_driver %}
            <a href="{{ url_for('driver_schedule_page') }}">Panel Kierowcy</a>
        {% endif %}

        {% if session.user_id %}
            <a href="{{ url_for('auth.logout') }}">Wyloguj ({{ session.username }})</a>
        {% else %}
            <a href="{{ url_for('auth.login_page') }}">Zaloguj</a>
        {% endif %}
    </nav>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        Stopka aplikacji
    </footer>

</body>
</html>
